<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="PersistenciaDestino" value="SQLServerEscuela"/>
    <add key="URLServer" value="168.192.100.5"/>
  </appSettings>
  <connectionStrings>
    <add name="MemoryEscuela"
         connectionString="School"/>
    <add name="SQLServerEscuela"
         connectionString="Data source=LAPTOP-E1NQQF43;Initial Catalog=Proyecto;Integrated Security=true;"
    />
    <add name="PostgresEscuela"
       connectionString="Host = localhost;Database = Proyecto;Username = postgres;Password = 040520"
    />
  </connectionStrings>
</configuration>